{% extends 'base.html' %}

{% block content%}

  <div class="cli-container">
    <div class="repos">
      <input type="text" placeholder="بحث" id="searchbox">
      <span class="cli-btn"><i class="fas fa-search"></i></span>
      <span class="cli-btn"><a href="{% url 'clientdata' %}"><i class="fas fa-add"></i></a></span>
    </div>

  <div class="data" id="customer">
  {% for cus in custo %} 
    <div class="cusname" style="align-items: center;" id="cusname" title="cusname">
      <p class="p_cli" style="position: static;"> {{cus.cus_name}} </p>
      <div class="left_clt" style="position: absolute; right: 950px;  background-color: #247dcf; padding: 5px;border-radius: 5px;">
        <a href="{% url 'apdateclientdataa' cus.id %}">
          <i name="apdate" method="POST">تعديل</i>
           
        </a>
      </div> 
 
    </div>
    
  {% endfor %}
  </div>
  

 
 </div>

 {% endblock %}

  