{% load static %}
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">	
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
<!--===============================================================================================-->
</head>
<body style="background-color: rgb(0, 0, 0);">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-26">
						 تسجيل الدخول 
					</span>
					<span class="login100-form-title p-b-48">
						
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter Username">
						<input class="input100" type="text" name="user">
						<span class="focus-input100" data-placeholder="User Name"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="fas fa-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	
<!--===============================================================================================-->

<!--===============================================================================================-->
	<script src="{% static 'js/main.js'%}"></script>

</body>
</html>