{% extends 'base.html' %}

{% block content%}

<form class="form_B1" method="POST" >
  {% csrf_token %}
    <div class="container_B2">

      <div class="input-field_B3">
          <label class="label_B4">{{form.customers.label}}</label>
          {{form.customers}}
          <a href="{% url 'clientdata' %}" style=" color: #000;">
          <i class="fas fa-add"></i> 
          </a>
      </div>
    </div>

  <div class="section_B5">
    <div class="input-field_B3" style="width: 250px;">
      <label class="label_B4">{{form.login_date.label}}</label>
      {{form.login_date}}
    </div>
  </div>

  <div class="section_B5">
    <div class="input-field_B3" style="margin-right: 150px; margin-top: 20px; width: 250px;">
      <label class="label_B4">{{form.exit_date.label}}</label>
      {{form.exit_date}}
    </div>
  </div>

  <div class="input-field_B3" style="margin-top: 10px; position: absolute; right: 10px;">
    <label class="label_B4" style="position: absolute; right: 20px;">{{form.res_price.label}}</label>
    {{form.res_price}}
  </div>
  <label class="label_B9_1" style="position: absolute; top: 250px; left: 170px; font-size: larger;"> عدد الليالي : 5 </label>

  <div class="input-field_B3" style="margin-top: 20px; position: absolute;right: 5px; bottom: 60px; width: 600px;">
    <label class="label_B4" style="position: absolute; bottom: 50px;right: 28px; ">{{form.res_notice.label}}</label>
    {{form.res_notice}}
  </div>
  <div style="display: none;">
    {{form.apartments}}
    {{form.user}}
  </div>

  <div class="button-container_B6" style="position: absolute; bottom: 10px;width: 650px;">
    <button type="submit" class="button_b6">حجز الشقة</button>
  </div>
</form>

<div class="container_B9" style="height: 460px; width: 300px;" >
  <label class="label_B9" style="position: absolute; right: 5px;">معلومات الشقة</label> <br> <br>
  <hr>
  <label class="label_B9_1" style="position: absolute; right: 2px"> الطابق :   التاسع</label>
  <label class="label_B9_1" style="position: absolute; left: 40px;"> رقم الشقة : 10  </label>
  <label class="label_B9_1" style="position: absolute; top: 150px; right: 2px; margin-top: 25px;"> وصف الشقة : </label>
  <br> <br> <br> <br> <br> <br> <hr>
  <label class="label_B9_1" style="font-size: x-large;padding-top: 10px; position: absolute; right: 2px; bottom: 137px;"> الإجمالي  : </label> 
  <label class="label_B9_1" id="price" style="font-size: x-large; font-weight: bold; margin-top: 10px;position: absolute; right: 115px;bottom: 135px;">00.000 </label> <br>
  <label class="label_B9_1" style="font-size: larger;position: absolute; bottom: 80px; right: 2px;">المدفوع :</label>
  {% for j in sum %}
  <label class="label_B9_1" id="total" style="font-size: larger; display: none; font-weight: bold; margin-top: 10px;position: absolute; right: 115px;bottom: 80px;">{{j.pay_amountinside}} </label>
  {% endfor %}
  <label class="label_B9_1" id="totall" style="font-size: larger;  font-weight: bold; margin-top: 10px;position: absolute; right: 115px;bottom: 80px;">00.000 </label>
  <label class="label_B9_1" style="font-size: larger;position: absolute; bottom: 40px; right: 2px;">المتبقي :</label>
  <label class="label_B9_1" id="remain" style="font-size: larger; font-weight: bold; margin-top: 10px;position: absolute; right: 115px;bottom: 40px;">00.000 </label>
  
</div>

{% endblock %}

{% block javascript %}

<script>
  var price = $('#id_res_price').val();
  $('#price').text(price);


  $(document).ready(function(){
    var total = parseFloat($('#price').text());
    var to_sum = 0;
    var ele = $('[id="total"]');
    ele.each(function(){
      var vv = parseFloat($(this).text());
      to_sum += vv;
      $('#totall').text(to_sum);
      var sum = total - to_sum;
      $('#remain').text(sum);
     
    });
  });
  
  
</script>

{% endblock %}
